* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #f2f2f2;
}
.login {
    width: 500px;
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 3px dotted green;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login form input[type="password"], .login form input[type="text"] {
    width: 90%;
    height: 50px;
    border: 1px solid gray;
    margin-bottom: 30px;
    padding: 0 15px;
    border-radius: 11px;
}
.login form input[type="submit"] {
    width: 90%;
    padding: 20px;
    background-color: #ffcc00;
    border: 3px solid black;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    color: #ffffff;
    transition: background-color 0.3s;
}
.login form input[type="submit"]:hover {
    background-color: #ffccff;
    transition: background-color 0.3s;
}
.navtop {
	background-color: #f7a64a;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 960px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: white;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.navtop div a:hover {
	color: black;
}
.content {
	width: 960px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 20px 0;
	border-bottom: 5px dotted gray;
}
.content > p, .content > div {
	margin: 20px 0;
	padding: 20px;
	background-color: #fff;
}
.register {
    width: 500px;
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 3px dotted green;
}
.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 90%;
    height: 50px;
    border: 1px solid gray;
    margin-bottom: 30px;
    padding: 0 15px;
    border-radius: 11px;
}
.register form input[type="submit"] {
    width: 90%;
    padding: 20px;
    background-color: #ffcc00;
    border: 3px solid black;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    color: #ffffff;
    transition: background-color 0.3s;
}
.register form input[type="submit"]:hover {
    background-color: #ffccff;
    transition: background-color 0.3s;
}